# Combining (Nesting) Data Structures:

So far, we have examined complex data structures (lists, sets, dictionaries) that contain "scalar" values (integers, strings, boolean, etc). 

In reality, we can store any type of value in these data structures.

Consider the case of the following dictionary:

In [1]:
phones = {
    "Panos": "212-998-0803",
    "Maria": "656-233-5555",
    "John": "693-232-5776",
    "Jake": "415-794-3423"
}

Let's say that we want to have more than one phone assigned to Panos. It is not possible to simply assign the value to a new number, as this will just replace the current phone. For example:

In [2]:
phones["Panos"] = "917-888-4455"
phones

{'Jake': '415-794-3423',
 'John': '693-232-5776',
 'Maria': '656-233-5555',
 'Panos': '917-888-4455'}

You see that the phone number associated with `Panos` has the new phone (917-888-4455), and the old one (212-998-0803) has disappeared. So, how can we store multiple elements for the key `Panos`? Nested structures is the solution.

## Creating Nested Data Structures

What we can do instead is to have **a list** as value for the "Panos" key. So, for example, we can rewrite the dictionary as:

In [3]:
phones = {
    "Panos": ["212-998-0803", "917-888-4455"],
    "Maria": ["656-233-5555"],
    "John": ["693-232-5776"],
    "Jake": ["415-794-3423"]
}

And if we check the value for Panos, you will see that we get back a list:

In [4]:
phones["Panos"]

['212-998-0803', '917-888-4455']

And then we can add and remove phones for each person:

In [5]:
phones["Panos"].append("800-929-2923")
phones["Jake"].append("343-342-5455")
phones["Jake"].append("343-656-8766")
phones["Jake"].pop(0)  # Remove the first phone for Jake
phones

{'Jake': ['343-342-5455', '343-656-8766'],
 'John': ['693-232-5776'],
 'Maria': ['656-233-5555'],
 'Panos': ['212-998-0803', '917-888-4455', '800-929-2923']}

Alternatively, instead of having a list, we can use a *dictionary* as a value for each key. For example, we can use key values "Work", "Cell", "Home", etc for each phone, and have something like:

In [6]:
phones = {
    "Panos": {
        "Work": "212-998-0803",
        "Cell": "917-888-4455"
    },
    "Maria": {
        "Work": "656-233-5555"
    },
    "John": {
        "Cell": "693-232-5776"
    },
    "Jake": {
        "Home": "415-794-3423"
    }
}

In [7]:
phones

{'Jake': {'Home': '415-794-3423'},
 'John': {'Cell': '693-232-5776'},
 'Maria': {'Work': '656-233-5555'},
 'Panos': {'Cell': '917-888-4455', 'Work': '212-998-0803'}}

## Accessing Data within Nested Structures

To access the elements within complex structures, we combine bracket and indexing operators:

In [8]:
phones = {
    'Jake': ['343-342-5455', '343-656-8766'],
    'John': ['693-232-5776'],
    'Maria': ['656-233-5555'],
    'Panos': ['212-998-0803', '917-888-4455', '800-929-2923']
}

So, to access the phones for "Panos" we write

In [9]:
phones['Panos']

['212-998-0803', '917-888-4455', '800-929-2923']

or

In [10]:
phones.get('Panos')

['212-998-0803', '917-888-4455', '800-929-2923']

Now, if we want to access the second phone on the returned list, we write:

In [11]:
phones['Panos'][1]

'917-888-4455'

In [12]:
phones.get('Panos')[1]

'917-888-4455'

Similarly, when we have a dictionary that contains dictionaries:

In [13]:
phones = {
    "Panos": {"Work":"212-998-0803", "Cell": "917-888-4455"},
    "Maria": {"Work":"656-233-5555"},
    "John": {"Cell":"693-232-5776"},
    "Jake": {"Home":"415-794-3423"}
}

In [14]:
phones['Panos']['Cell']

'917-888-4455'

Or when we have a list of dictionaries:

In [15]:
citibike_stations = [
    {'station_id': 72,  'capacity': 39, 'coords': {'lon': -73.9939, 'lat': 40.7673}, 'name': 'W 52 St & 11 Ave',   },
    {'station_id': 79,  'capacity': 33, 'coords': {'lon': -74.0067, 'lat': 40.7191}, 'name': 'Franklin St & W Broadway'},
    {'station_id': 82,  'capacity': 27, 'coords': {'lon': -74.0002, 'lat': 40.7673}, 'name': 'St James Pl & Pearl St'},
    {'station_id': 83,  'capacity': 62, 'coords': {'lon': -73.9763, 'lat': 40.6838}, 'name': 'Atlantic Ave & Fort Greene Pl'},
    {'station_id': 116, 'capacity': 39, 'coords': {'lon': -74.0015, 'lat': 40.7418}, 'name': 'W 17 St & 8 Ave'}
]

To access the name of the first station:

In [39]:
# Returns the first station entry
citibike_stations[0]

{'capacity': 39,
 'coords': {'lat': 40.7673, 'lon': -73.9939},
 'name': 'W 52 St & 11 Ave',
 'station_id': 72}

In [40]:
# Get the name for the first station
citibike_stations[0]['name']

'W 52 St & 11 Ave'

Or to access the coordinates:

In [17]:
citibike_stations[0]['coords']

{'lat': 40.7673, 'lon': -73.9939}

And if we want to access the latitude, from the coordinates:

In [18]:
citibike_stations[0]['coords']['lat']

40.7673

## Exercise

You are given the following data structure.

```python
data = {
    "Panos": {
        "Job":"Professor", 
        "YOB": "1976", 
        "Children": ["Gregory", "Anna"]
    }, 
    "Joe": {
        "Job":"Data Scientist", 
        "YOB": "1981"
    }
}
```

You need to write code that

* Prints the job of Joe
* Prints the year of birth of Panos; prints the age of Panos
* Prints the children of Panos
* Prints the second child of Panos
* Prints the number of people _entries_ in the data. (Notice that it is much harder to find all the people in the data, eg the children)
* Checks if Maria is in the data
* Checks if Anna is in the data
* Checks if Panos has children. 
* Checks if Joe has children. How can you handle the lack of the corresponding key? Would your code work when the list of children is empty, instead of missing?

In [19]:
data = {
    "Panos": {
        "Job": "Professor",
        "YOB": "1976",
        "Children": ["Gregory", "Anna"]
    },
    "Joe": {
        "Job": "Data Scientist",
        "YOB": "1981"
    }
}

In [20]:
# Prints the job of Joe

In [21]:
# Prints the year of birth of Panos

In [22]:
# Prints the children of Panos

In [23]:
# Prints the second child of Panos

In [24]:
# Prints the number of people _entries_ in the data. 
# (Notice that it is much harder to find all the people in the data, eg the children)

In [25]:
# Checks if Maria is in the  data

In [26]:
# Checks if Anna is in the data
# Notice that the in command *will not* look into the values

In [27]:
# Checks if Panos has children

In [28]:
# Checks if Joe has children

### Solution

In [29]:
# Prints the job of Joe
data['Joe']['Job']

'Data Scientist'

In [30]:
# Prints the year of birth of Panos
data['Panos']['YOB']

'1976'

In [31]:
# Prints the children of Panos
data['Panos']['Children']

['Gregory', 'Anna']

In [32]:
# Prints the second child of Panos
data['Panos']['Children'][1]

'Anna'

In [33]:
# Checks if Maria is in the data
'Maria' in data.keys()

False

In [34]:
# Checks if Maria is in the data, simpler
'Maria' in data

False

In [35]:
# Checks if Anna is in the data
'Anna' in data
# Notice that the in command *will not* look into the values
# We need to use much more complex code to check all the data, beyond the keys

False

In [36]:
# Checks if Panos has children
"Children" in data["Panos"]

True

In [37]:
# Checks if Joe has children
"Children" in data["Joe"]

False

In [38]:
# If the "Children" entry under Joe had an empty list, instead of being non-existence then we need to augment
# our condition, and write something like:
"Children" in data["Joe"] and len(data["Joe"]["Children"]) > 0

True